@import url(https://lsong.org/stylesheets/form.css);
@import url(https://lsong.org/stylesheets/link.css);
@import url(https://lsong.org/stylesheets/button.css);
@import url(https://lsong.org/css/stylesheet.css);

body {
  max-width: 900px;
}

h3 {
  text-transform: uppercase;
}

textarea {
  min-width: 100%;
  max-width: 100%;
}
